.wrapper {
  padding: 100px;
  box-sizing: border-box;
}

.blank-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  max-width: 300px;
}

.start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  max-width: 300px;
}

.gauge-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.gauge-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 75px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  height: 20px;
  box-sizing: border-box;
}

.gauges {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  width: 100%;
  flex-wrap: wrap;
}

.gauge-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  max-width: 300px;
}

.battery-switch-container {
  display: flex;
  justify-content: column;
  align-items: center;
  flex: 1;
  max-width: 100%;
}

canvas {
  width: 100%;
  height: auto;
}

input[type="range"] {
  margin-top: 10px;
  width: 100%;
}


.terminal-window {
  flex-grow: 1;
  width: 100%;
  max-height: 75px;
  margin-bottom: 20px;
  background-color: black;
  color: green;
  padding: 20px;
  overflow-y: auto;    /* Allow internal scrolling for terminal output */
  border-radius: 5px;
  font-family: monospace;
  white-space: pre-wrap;
  box-sizing: border-box;  /* Ensure padding is included in the element's total width and height */
}